<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pavlo Kostyshen - web developer</title>
    <style type="text/css">
    html{
        height : 100%
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 250%;

    }
    h1, h2 {
        font-family: Arial;
        color: #2ca7b1;
    }
    h1{
        color: #1b30e7;
    }

    .contacts-link{
        text-decoration: none;
        color: #b728bb;
    }

    </style>
</head>
<body>
    <h2><a class="contacts-link" href="tel:380931282225"> &#128222;093-128-22-25</a></h2>
    <h1>Pavlo Kostyshen </h1>
    <h2>Web developer</h2>


</body>
</html>